#container {
    margin:3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1em solid purple;
    border-radius: 1em;
    padding: 3em;
}
#container > div {
    font-size: 1.25em;
    margin: .7em;
}
#btn {
    padding: 1em;
    color: white;
    margin: 1em;
    border: .1em solid;
    background-color: #1e4559;
    border-radius: 1em;
    font-size: 1.2em; 
}